{
    "languageId": "en_US",
    "productLanguageId": "en_US",
    "channelOpenId": "0",
    "channelLastOpenId": "0",
    "reduceAudio": true,
    "isSSD": true,
    "fromInstall": false,
    "strp": "apien",
    "lastZoneArea": "America/Phoenix",
    "lastZoneName": "US Mountain Standard Time",
    "vipMode": false,
    "isBaseboard": true,
    "noiceUserRed": true,
    "nextCheckupdateTime": 1766825601,
    "multiPlayerSort": 0,
    "framesPerSecond": 2,
    "displayMode": true,
    "windowsRowCount": 15,
    "mulTab": true,
    "exitFullscreenEsc": true,
    "disableMouseRightOpt": false
}