[project]
name = "ld-cleaner"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "tenacity>=9.1.2",
]

[dependency-groups]
dev = [
    "nuitka>=2.8.1",
]
